.left {
    text-align: left;
  }
  
  .size {
    font-size: 80%;
  }

  .reveal ul {
    display: block;
  }

  .big_image {
    width: 80%;
  }
  table {
    font-size:small;
  }

  .small_image {
    height: 80%;
  }

  .reveal pre code {
    max-height: 500px;
  }
  